/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Styling starts from here */
:root {
    --primary-color: hsl(209, 39%, 52%);
    --primary-color-darken: hsl(209, 39%, 46%);
    --secondary-color: hsl(192, 24%, 96%);
    --grey: hsl(207, 18%, 90%);
    --white: hsl(0,0, 100%);
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --border-radius: 10px;

    font-size: 16px;   
}

body {
    font-family: var(--font-family);
    height: 100%;
}

div#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;

    min-height: 100vh;
}

#side-nav {
    background-color: var(--white);
    grid-column: span 1;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

#nav-option nav{
    display: flex;
    flex-direction: column;
    gap: 0.5em
}

#nav-option nav button {
    padding-left: 40px;
    height: 2.4em;
    width: 32vh;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
    background-color: var(--white);
    border: transparent;
    text-align: start;
}

#nav-option nav button:hover {
    cursor: pointer;
    background-color: var(--grey);
}

#search,
.button-row {
    position: relative;
    display: inline-block;
}

#search svg,
.button-row svg {
    position: absolute;
    top: 20%;
    left: 5px;
    fill: grey;
}

#search input,
#new-list button {
    width: 32vh;
    height: 2.5em;
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    border: 2px solid var(--grey)
}

#search input {
    padding-left: 40px;
}

#new-list button {
    background-color: var(--primary-color);
    color: #fff;
    border: transparent;
}

#new-list button:hover {
    cursor: pointer;
    background-color: var(--primary-color-darken);
}

#content {
    grid-column: span 1;
    background-color: var(--secondary-color);
}