/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Styling starts from here */
:root {
    --primary-color: hsl(209, 39%, 52%);
    --secondary-color: hsl(192, 24%, 96%);
    --grey: hsl(207, 18%, 90%);
    --white: hsl(0,0, 100%);
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 16px;   
}

body {
    font-family: var(--font-family);
    height: 100%;
}

div#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;

    min-height: 100vh;
}

#side-nav {
    background-color: var(--white);
    grid-column: span 1;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#nav-option nav{
    display: flex;
    flex-direction: column;
}

#search {
    position: relative;
    display: inline-block;
}

#search svg {
    position: absolute;
    top: 15%;
    left: 5px
}

#search input {
    padding-left: 40px;
    width: 100%;
}

#content {
    grid-column: span 1;
    background-color: var(--secondary-color);
}